.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(25, 235, 172);
    z-index: 1;

    img {
        width: 48px;
        margin-right: 20px;
    }
    
    h1 {
        color: #fff;
    }
}